*{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  /* background: #000;
  color: white; */
  height: 60px;
  /* border-bottom: 1px solid black; */
}
.logo{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

}
.logo img{
  height: 50px;
  width: auto;
/* background-color: white; */
/* border-radius: 20px; */
}
.logo h2{
  margin-top: -19px;
}
ul{
  display: flex;
  gap: 30px;
    list-style-type: none; /* removes bullets */

}
li a , table a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}
table{
  font-size: 1rem;
}
/* .section-main h1{
  text-align: center;
  align-items: center;
} */
.section-main  table:nth-of-type(1) , table:nth-of-type(2){
  max-width: 50%;
  margin: auto;
}
.section-main  table:nth-of-type(3) , table:nth-of-type(4) , table:nth-of-type(5) , table:nth-of-type(6 ){
  max-width: 218;
  margin-left: 384px;
}